[MESSAGES CONTROL]
disable = trailing-whitespace, line-too-long, missing-final-newline, superfluous-parens, simplifiable-if-statement, unnecessary-lambda, use-implicit-booleaness-not-comparison, singleton-comparison, no-else-return